* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.manuf-bg-wrapper {
	position: relative;
	height: 100vh;
}	
.section-bg-home.section-bg-home-light {
	background-image: url(./image/11.webp);
	background-repeat: repeat-x;
	background-size: 150% auto;
	background-position: -86% 44%;
	background-color: #fff;
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: auto
}